GRPC_PORT=50051

DATABASE_URL=postgresql://postgres:postgres@pgbouncer:6432/auth
DATABASE_DIRECT_URL=postgresql://postgres:postgres@postgres:5432/auth


JWT_ACCESS_SECRET="your_access_secret"
JWT_REFRESH_SECRET="your_refresh_secret"
JWT_ACCESS_TOKEN_EXPIRES_IN=15m
JWT_REFRESH_TOKEN_EXPIRES_IN=7d

GOOGLE_CLIENT_ID="your_google_client_id"
GOOGLE_CLIENT_SECRET="your_google_client_secret"

PG_BOSS_MAX=5
PG_BOSS_NEW_CONNECTION_TIMEOUT_SECONDS=30
PG_BOSS_MAINTENANCE_INTERVAL_SECONDS=60
PG_BOSS_APPLICATION_NAME=auth-pgboss

KAFKA_BROKERS=kafka:9092
KAFKA_CLIENT_ID=auth-client
KAFKA_TOPIC_USER_CREATED='user.created'
